<div style="padding: 2em; background-color: #f0f4ff; box-sizing: border-box">
    <style>
        html,
        body,
        p {
            margin: 0;
            padding: 0;
        }
    </style>
    <div
        style="
            box-sizing: border-box;
            border-radius: 3px;
            overflow: hidden;
            width: 100%;
            max-width: 600px;
            padding: 2em;
            background-color: #ffffff;
            margin: 0 auto;
        "
    >
        <div style="padding-bottom: 20px; display: flex">
            <h1 style="margin-top: auto; margin-bottom: auto; line-height: 1.5; font-size: 28px; color: #333333">{{title}}</h1>
            <a href="https://mail.lisfes.cn" target="_blank" rel="noopener noreferrer" style="margin-left: auto">
                <img src="https://oss.lisfes.cn/public/logo.png" alt="Wlisfes" style="display: block; width: 64px" />
            </a>
        </div>
        <div>
            <div style="color: #333333; padding-bottom: 20px; line-height: 1.5">
                <p style="font-size: 18px; color: #333333; margin-top: 0; margin-bottom: 10px">尊敬的用户您好！</p>
                <p style="font-size: 16px; color: #333333; margin-top: 0; margin-bottom: 0; line-height: 2">
                    您的验证码是：<b style="color: #7f77f2">{{code}}</b>，请在<b style="color: #7f77f2">{{ttl}}</b
                    >分钟内进行验证。如不是您本人操作，请忽略。
                </p>
            </div>
            <div style="color: #333333; display: flex">
                <a href="https://mail.lisfes.cn" target="_blank" rel="noopener noreferrer">
                    <img src="https://oss.lisfes.cn/public/logo.png" alt="Wlisfes" style="display: block; width: 48px" />
                </a>
                <div style="margin-left: 15px; padding-top: 4px; padding-bottom: 4px">
                    <p style="margin-top: 0; margin-bottom: 0; font-size: 15px; line-height: 20px">
                        <b>Mail Server</b>
                    </p>
                    <p style="margin-top: 0; margin-bottom: 0; font-size: 15px; line-height: 20px">
                        <a href="https://mail.lisfes.cn" target="_blank" rel="noopener noreferrer" style="color: #7f77f2; font-size: 15px">
                            https://mail.lisfes.cn
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
